@font-face {
font-family: "UTM-Avo";
src: url(‘font/UTM Avo.ttf’);
font-weight: normal;
font-style: normal;
}

html, body {
	font-family:'UTM-Avo', Tahoma, Arial !important;
	font-size: 12px;
	margin: auto;
	height: 100%;
}
body {
	background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-size: 12px;
	font-weight: normal;
	line-height: normal;
}
img {
	border: none;
}

#main-content {
	overflow: hidden;
	background-color: #fff;

}
::-moz-selection {
	background-color:rgb(41, 128, 185);
	color:#FFF;
}
::selection {
	background-color:rgb(41, 128, 185);
	color:#FFF;
}
.nopadding{
	padding: 0 !important;
}
.nomargin{
	margin: 0 !important;
}
.btn {
	border-radius:0 !important;
}	
/*--------------------------------------------*/

#header{
	margin-bottom: 0 !important;
	border-radius: 0 !important;
}
.navbar .frm-search{
	margin-top: 10px;
}
.navbar-header{
	margin-top: 5px;
}
.logo img {
width: 100% \9;
max-width: 100%;
}

.slide-banner{
	margin-bottom: 80px;
}

#main-content .top-content .content-graph{
	text-align: center;
	margin-bottom: 20px;
}
.content-graph a > img{
	margin-bottom: 25px;
	transition:All 1s ease;
-webkit-transition:All 1s ease;
-moz-transition:All 1s ease;
-o-transition:All 1s ease;
transform: rotate(4deg) scale(1) skew(0deg) translate(0px);
-webkit-transform: rotate(4deg) scale(1) skew(0deg) translate(0px);
-moz-transform: rotate(4deg) scale(1) skew(0deg) translate(0px);
-o-transform: rotate(4deg) scale(1) skew(0deg) translate(0px);
-ms-transform: rotate(4deg) scale(1) skew(0deg) translate(0px);
}
.content-graph a:hover> img{
	transform: rotate(360deg) scale(1) skew(0deg) translate(0px);
-webkit-transform: rotate(360deg) scale(1) skew(0deg) translate(0px);
-moz-transform: rotate(360deg) scale(1) skew(0deg) translate(0px);
-o-transform: rotate(360deg) scale(1) skew(0deg) translate(0px);
-ms-transform: rotate(360deg) scale(1) skew(0deg) translate(0px);
}
.content-graph p{

	color:#333;
	font-weight:normal;
}
.content-graph h3{
	font-size: 24px;
}

.middle-content-top{
	background: url('../img/bg1.jpg');
	background-size: cover;
	margin-top:30px;
	color:#fff
}
.middle-content-top h3{
	margin-bottom:20px
}
.middle-content-top p{
	margin-top:20px;

}
.middle-content-bottom{
	margin-top: 40px;
	background-color: #F7F7F7;
	border-width: 1px 1px 1px 4px;
  border-style: dashed dashed dashed solid;
  border-color: #EAEAEA #EAEAEA #EAEAEA #1abc9c ;
}
.middle-content-bottom article{

}
.middle-content-bottom .btnRegister{
	margin-top:20px;
}

.bottom-content {
	margin-top: 50px;
}
.bottom-content h2,h3{
	font-weight: 500;
}
.bottom-content .blog-title{
	text-align:center;
	margin-bottom:30px;
}
.bottom-content .blog-title span{
	font-size: 18px;
}
.bottom-content-article{
	margin-bottom:30px
}
.bottom-content-article header{
	margin-bottom:20px;

}
.bottom-content-article article{
}
.bottom-content-article article p{

}
.bottom-content-article article figure{
	padding-left:0 !important;
}
.bottom-content-article h2{
	font-size: 1.4em;
	font-weight: 500;
}
.bottom-content-article h2 a{
	color: #34495e;
}
.bottom-content-article h2 a:hover{
	color:#1abc9c;
}
.bottom-content-article figure{
	padding-right: 4%;
  text-align: left;
  width: 36%;
}
.bottom-content-article .info-bar{
	border:1px solid #ccc;
	  clear: both;
  margin-top: 10px;
}
/*--------------------- @MEDIA -----------------*/

@media (max-width:480px) { 
.logo img {
    width: 70% \9; /*Force IE10 and below to size SVG images correctly*/
    max-width: 70% !important;
}
#main-content .top-content .content-graph{
	padding: 0 !important;
}
}

@media (max-width:400px) { 
.logo img {
    width: 75% \9; /*Force IE10 and below to size SVG images correctly*/
    max-width: 75%;
}
.footer-social a{
	margin: 0px !important;
}
}

@media (max-width:385px) { 
.logo img {
    width: 70% \9; /*Force IE10 and below to size SVG images correctly*/
    max-width: 70%;
}
}

@media (max-width:345px) { 
.logo img {
    width: 65% \9; /*Force IE10 and below to size SVG images correctly*/
    max-width: 65%;
}
}

@media (max-width:335px) { 
.logo img {
    width: 60% \9; /*Force IE10 and below to size SVG images correctly*/
    max-width: 60%;
}
}

@media (max-width:325px) { 
.logo img {
    width: 55% \9; /*Force IE10 and below to size SVG images correctly*/
    max-width: 55%;
}
}

@media (max-width:315px) { 
.logo img {
    width: 50% \9; /*Force IE10 and below to size SVG images correctly*/
    max-width: 50%;
}
}

@media (max-width:991px ){
	.content-graph{
		padding:0 !important;
	}
	.content-graph p{
	font-size:1.6em;
}
	.content-graph h3{
		font-size:2.2em;
	}
	.middle-content-top,.middle-content-bottom{
		text-align: center;
		font-size: 1.6em !important;
	}
	
	.bottom-content p{
		font-size: 1.6em;
	}

}
@media (max-width:767px){
	h3{
		font-size: 28px !important;
	}
	.content-graph p{
		font-size:1.2em;
	}

	.middle-content-bottom p{
		font-size: 0.8em;
	}
	.bottom-content p{
		font-size: 1.2em;
	}
	
}



 /*----------------------------------------------------------------*/

.footer{
	background-color:#f8f8f8;
	margin-top: 80px;
}
.footer-social{
	padding-top:30px;
	text-align: center;
}
.footer-social a{
	margin: 0 10px;

}
.footer .footer-social .btn{
		background-color: #F8F8F8;
  border: 1px solid #1abc9c;
  color: #1abc9c;
}
.footer .footer-social .btn:hover{
		background-color: #1abc9c;
  color: #F8F8F8;
}
}
.footer address{
	margin-bottom: 10px;
}


